/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.space-footer {
  margin-bottom: 3%;
}

.meals {
  align-items: center;
  background: #f1c232;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.start-recipe {
  bottom: 0;
  position: fixed;
}

.finish-recipe {
  bottom: 0;
  position: fixed;
}

.hideCss {
  color: red;
}

.showCss {
  color: blue;
  text-decoration: none solid black;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.footer-generic {
  background-color: #c00;
  bottom: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.recipe-list img {
  width: 206px;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
}

.button-no-border {
  background: none;
  border: none;
  padding: 0;
}

.decent-footer {
  display: flex;
  justify-content: flex-end;
}

.card-columns {
  padding: 20px;
}

.card-title, .header-image-text {
  padding: 10px;
  text-align: center;
}

.container {
  text-align: center;
}

.category, .recomendations {
  font-weight: 600;
  text-align: center;
}

.instructions {
  margin-left: 5px;
  text-align: justify;
}

.share-and-fav {
  text-align: center;
}

.iframe {
  margin-top: 8px;
  text-align: center;
}

.profile-email {
  text-align: center;
}

.buttons-profile, .buttons-done, .buttons-fav {
  text-align: center;
}

.recipe-book {
  margin-bottom: 15px;
  margin-top: 10px;
  width: 225px;
}

.not-found {
  color: red;
  text-align: center;
}

.general-background-color {
  background-color: #f1c232;
}

.home, .sair {
  margin-right: 15px;
}

.button-carousel {
  margin: 5px;
}

.checkboxes {
  margin: 0 15px;
}

.favorite-btn-page {
  text-align: center;
}
